/* .navbar-style{
  background-color: rgb(204, 165, 93);
}   */
/* .logo-img-style{
  height:50px;
  width:50px;
} */
body{
  padding: 0;
  margin: 0;
} 
.logo-text-style{
  margin:-15px 0px 0px 50px;
} 
*{
  font-family: 'Times New Roman', Times, serif;
}
main{
  min-height: 80vh;
}
footer{
  background-color: rgb(223, 199, 168);
  margin-top: 1rem;
  height:2rem; 
}
marquee{
  margin-top: 1rem;
  font-size:1.5rem ;
}
.home-para-style{
  text-align: justify;
}
.th,td{
  text-align: center;
}
.col-login{
  margin-left:75px ;
}

@media(max-width:1120px){
  .container{
    margin: 0;
  }
  .i1{
    width:100px
  }
}


@media(max-width:900px){
  .login{
    
   width:100%;

  }
  .col-login{
    margin: none;
    text-align: center;
  }
} 



@media(max-width:475px){
  img{
    width:100%;
  }
  .h3-login{
    font-size: small;
  }
  .btn-login{
    width:100px;
  }
} 

@media(max-width:375px){
  .logo-text-style{
    display: none;
    
  }
}